doctype html
html(lang='en')
  head
    meta(charset='uft-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= Sense
    meta(name='description', content='Html5 Game - Sense')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/app.css')
  body
    h1 Welcome to Sense
    script(data-main='js/app', src='js/vendor/require.js')