doctype html
html(lang='en')
  head
    meta(charset='uft-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= Sense
    meta(name='description', content='Html5 Game - Sense')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/bootstrap-3.3.5/css/bootstrap.css')
    link(href='http://fonts.googleapis.com/css?family=Press+Start+2P', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/keyscss/keys.css', type='text/css')
    link(rel='stylesheet', href='css/font-awesome-4.4.0/css/font-awesome.css', type='text/css')
  body
    section#game
    section#load
      .container
        h1 Sense - Loading ...
        h4.progressbar-talking
        .progressbar
    include ./intro/intro.jade
    script(data-main='js/app', src='js/vendors/require-js-2.1.20/require.js')