section#intro
  .container
    include ./introBody.jade
    .row
      ul.list-inline
        li
          label by Rene Müller
        li
          a(href='https://github.com/renmuell/Sense')
            i.fab.fa-github