h2.page-header
  | &hearts; Thanks to
ul
  li
    | Javascript vendors
    ul
      li
        a(href='http://threejs.org/') Three.js
      li
        a(href='http://cannonjs.org/') Cannon.js
      li
        a(href='https://code.google.com/p/dat-gui/') dat.GUI
      li
        a(href='https://github.com/mrdoob/stats.js/') stats.js
      li
        a(href='https://github.com/jeromeetienne/threex.rendererstats') threex.rendererstats
      li
        a(href='https://github.com/stemkoski/stemkoski.github.com/blob/master/Three.js/Texture-Animation.html') stemkoski.github.com for TextureAnimator()
      li
        a(href='https://github.com/jeromeetienne/threex.objcoord') threex.objcoord
  li
    | Icon / Css 
    ul
      li
        a(href='http://fortawesome.github.io/Font-Awesome/') Font-Awesome
      li
        a(href='https://github.com/michaelhue/keyscss') KEYS.css
      li
        a(href='http://icons8.com') Icon pack by Icons8
  li
    | Audio vendors [app/media/effects/]
    ul
      li
        a(href='http://www.freesound.org/people/Reitanna/sounds/215393/') hello.ogg  | freesound.org - Reitanna - hello
      li
        a(href='http://www.freesound.org/people/fins/sounds/146726/') jump.ogg   | freesound.org - Fins - jumping.wav
      li
        a(href='http://www.freesound.org/people/GameAudio/sounds/220203/') death.ogg  | freesound.org - GameAudio - Casual Death Loose
      li
        a(href='http://www.freesound.org/people/fins/sounds/191594/') shoot.ogg  | freesound.org - Fins - laser
      li
        a(href='http://www.freesound.org/people/simon.rue/sounds/49966/') colide.ogg | freesound.org - Simon.rue - studs moln v4.wav
      li
        a(href='http://www.freesound.org/people/stintx/sounds/107622/') reload.ogg  | freesound.org - Stintx - Pistol-Reload.wav
      li
        a(href='http://www.freesound.org/people/broumbroum/sounds/50553/') hit.ogg     | freesound.org - Broumbroum - hit-mid.wav
      li
        a(href='https://www.freesound.org/people/SpeedY/sounds/8495/') open.ogg    | freesound.org - SpeedY - F#min--(Low-D).wav
      li
        a(href='https://www.freesound.org/people/11linda/sounds/234039/') ouch.ogg    | freesound.org - 11Linda - pain: ouch
      li
        a(href='http://www.freesound.org/people/girlana/sounds/76384/') zing.ogg    | freesound.org - Girlana - zing.wav
      li
        a(href='http://www.freesound.org/people/Corsica_S/sounds/104709/') ohyeah.ogg  | freesound.org - Corsica_S - oh yeah.wav
      li
        a(href='http://www.freesound.org/people/esperar/sounds/170765/') oh2.ogg     | freesound.org - esperar - Oh-disappointed.wav
      li
        a(href='http://www.freesound.org/people/Reitanna/sounds/242909/') ah.ogg      | freesound.org -  Reitanna - relieved sigh.wav
      li
        a(href='http://www.freesound.org/people/davidou/sounds/88450/') kiss.ogg    | freesound.org - Davidou - Bizousouffl&eacute;.wav
  li
    | Music vendors [app/media/music]
    ul
      li
        a(href='http://www.bensound.com/royalty-free-music/track/slow-motion') slowmotion.mp3 | Royalty Free Music from Bensound - Slow Motion
