section#intro
  .ft
    .ft-tween
      .ft-ring
    .ft-message
      div(clas='row')
        .col-sm-8.col-sm-offset-2
          br
          .panel.panel-default
            .panel-heading.pixelFont Web Game - Technical Prototype
            .panel-body
              include ./introBody.jade
            .panel-footer
              ul.list-inline
                li
                  label by Rene Müller
                li
                  a(href='https://github.com/renmuell/Sense')
                    i.fa.fa-github